* {
    margin: 0;
    padding: 0;
  }
  
  h1 {
    font-size: 40px;
    margin-top: 5px;
  }
  
  .add {
    background-color: rgb(0, 255, 0);
    margin-left: 4px;
  }
  .add:hover {
    background-color: rgb(0, 200, 0);
  }
  
  .sub {
    background-color: rgb(255, 0, 0);
  }
  .sub:hover {
    background-color: rgb(200, 0, 0);
  }
  
  .reset {
    background-color: rgb(0, 0, 255);
  }
  .reset:hover {
    background-color: rgb(0, 0, 200);
  }
  
  button {
    color: white;
    border-radius: 5px;
    width: 100px;
    padding: 10px 10px 10px 10px;
    margin: 5px 5px 5px 5px;
    cursor: pointer;
  }
  
  .counter {
    font-size: 50px;
    margin-block-start: 13px;
    margin-block-end: 19px;
  }
  